.upload-browse {
    display: flex;
    align-items: center;
    
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    margin-left: 20%;
    
  }
  
  .browse-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    margin-left: 1px;
  }
  
  